<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--부트스트랩 자바스크립트는 제이쿼리에 의존하기때문에 꼭 제이쿼리 먼저 가져오고 그다음 부트스트랩을 가져와야만함 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/js/app/index.js"></script>
</body>
</html>